
.header {background-color: #fafdfa; height: 15vh;}

.meny{background-color: #4d4b4a; height: 10vh;text-align: center;}

.leftcol{background-color: #dddddd; height: 60vh; width: 20%;float: left;}

.content{background-color:gainsboro; height: 90vh; width: 100%;}

.fotter{background-color:#726f6f; height: 10vh;clear: both;}

.container{width: 1249px; height: 586px;}

/* 
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/



/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: rgb(248, 242, 242);}
.prislista{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.center{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);font-family: 'Volkhov', serif;font-size:270%;}
.botten{position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);font-family: 'Volkhov', serif;font-size: 115%;}
.loggo{position: absolute; top: 10%; left: 20%; transform: translate(-50%, -50%); font-family:'Orbitron', sans-serif;
text-transform: uppercase;text-shadow: 2px 4px rgb(221, 100, 19) ;letter-spacing: 5px; font-size: 200%;}

ul{list-style: none;}
li a{text-decoration-line: none;color: #000000;}
li a:hover{background-color:#f8e4e4;}
a {color: rgb(221, 100, 19);padding: 6px 60px; text-decoration-line: none;}
a:hover{background-color: grey;}