
/*.header {background-color: #fafdfa; height: 15vh;} */

.meny{background-color: rgb(4, 5, 71); height: 10vh;text-align: center;}

/*.leftcol{background-color: #dddddd; height: 60vh; width: 20%;float: left;}*/

.content{background-color:gainsboro; height: 90vh; width: 100%;}

/*.fotter{background-color:#726f6f; height: 10vh;clear: both;}*/

.container{width: 1249px; height: 486px;}

/* 
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/
/* priser*/
.prislistor{color: white; font-family: 'Indie Flower', cursive;font-size: 150%;}
.typavparkering1{position: absolute; top: 30%; left: 10%; transform: translate(-50%, -50%);}
.typavparkering2{position: absolute; top: 40%; left: 10%; transform: translate(-50%, -50%);}
.typavparkering3{position: absolute; top: 50%; left: 10%; transform: translate(-50%, -50%);}
.typavparkering4{position: absolute; top: 60%; left: 10%; transform: translate(-50%, -50%);}
.typavparkering5{position: absolute; top: 70%; left: 10%; transform: translate(-50%, -50%);}
.prislista1{position: absolute; top: 30%; left: 30%; transform: translate(-50%, -50%);}
.prislista2{position: absolute; top: 40%; left: 30%; transform: translate(-50%, -50%);}				
.prislista3{position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%);}
.prislista4{position: absolute; top: 60%; left: 30%; transform: translate(-50%, -50%);}
.prislista5{position: absolute; top: 70%; left: 30%; transform: translate(-50%, -50%);}

/* Startsida */
.container {
    position: relative;
    text-align: center;
    color: rgb(248, 242, 242);}

.center{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);font-family: 'Volkhov', serif;font-size:270%;}
.botten{position: absolute; top: 90%; left: 50%; transform: translate(-50%, -50%);font-family: 'Volkhov', serif;font-size: 115%; background-color: black;}
.loggo{position: absolute; top: 10%; left: 20%; transform: translate(-50%, -50%); font-family:'Orbitron', sans-serif;
text-transform: uppercase;text-shadow: 2px 4px red ;letter-spacing: 5px; font-size: 200%;}

ul{list-style: none;}
li a{text-decoration-line: none;color: #000000;}
li a:hover{background-color:#f8e4e4;}
a{color: beige;padding: 6px 30px; text-decoration-line: none;font-size: 125%;}
a:hover{background-color: grey;}

/*Kontakta oss*/
.kontakt{color: white;}
.kontakter{     position: absolute; top: 30%; left: 20%; transform: translate(-50%, -50%);font-size: 200%;}
/*.information{ position: absolute; top: 50%; left: 20%; transform: translate(-50%, -50%);}
.mail{          position: absolute; top: 60%; left: 20%; transform: translate(-50%, -50%);}*/
.mailadress{    position: absolute; top: 40%; left: 20%; transform: translate(-50%, -50%);font-size: 120%;text-decoration-line: underline;}
.telefonnummer{ position: absolute; top: 50%; left: 20%; transform: translate(-50%, -50%);font-size: 120%;}
.hittatilloss{  position: absolute; top: 30%; left: 65%; transform: translate(-50%, -50%);font-size: 200%;}
.karta{         position: absolute; top: 40%; left: 65%; transform: translate(-50%, -50%);color: white;font-size: 120%;}

/*våra övriga tjänster*/
.biltvätt{color:white;text-decoration-line: underline;font-size: 120%; font-family: 'Poppins', sans-serif;}
.våraövrigatjänster{position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%);font-size: 230%;color: white;font-family: 'Modak', cursive;}
.liten{             position: absolute; top: 40%; left: 30%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.mellan{            position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.stor{              position: absolute; top: 60%; left: 30%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.xshine{            position: absolute; top: 70%; left: 30%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.litenpris{         position: absolute; top: 40%; left: 70%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.mellanpris{        position: absolute; top: 50%; left: 70%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.storpris{          position: absolute; top: 60%; left: 70%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.xshinepris{        position: absolute; top: 70%; left: 70%; transform: translate(-50%, -50%);text-decoration-line: underline;}
.servic{            position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%);text-decoration-line: underline;}  
.servicpris{        position: absolute; top: 80%; left: 70%; transform: translate(-50%, -50%);text-decoration-line: underline;}

